html,body {
	height: 100%;
    width: 100%;
}

.header {
    background: linear-gradient(180deg, #009090, #0090a8);
	background-size: 400% 400%;
	-webkit-animation: gradient 3s ease infinite;
	-moz-animation: gradient 3s ease infinite;
	-o-animation: gradient 3s ease infinite;
	animation: gradient 3s ease infinite;
}

.brand {
    max-width: 200px;
    max-height: 200px;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

.logo {
    width: 200px;
    height: 200px;
    border: solid 3px #009090;
    border-radius: 50%;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

.icons {
	color: #fff;
	transition: all 0.2s;
	font-size: 45px;
}

.icons:hover {
	color: #90a8d8;
}

.spacing {
	margin-top: 100px;
	margin-bottom: 100px;
}

footer {
    background: #009090 !important;;
    padding: 3em !important;
}